.clip {
  width: 400px;
  height: 400px;
  background-color: aquamarine;
  clip-path: polygon(63% 0, 50% 50%, 100% 16%, 75% 100%, 25% 100%, 0 51%);
}
.text {
  position: relative;
}
.text::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 1px;
  top: 50%;
  transform: rotate(10deg);
  background: red;
}
